

/* ------------------------------------------------------------------------- */
/* Toggle */
/* ------------------------------------------------------------------------- */
.toggler {
    margin-right: 10px;
    float: left;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.hide {
    background-image: url(../img/hide.png);
}

.show {
    background-image: url(../img/show.png);
}

#modal-bullets {
    overflow-y: auto;
}

#collapse-all {
    cursor: pointer;
}

table#drug {
    text-align: center;
    font-size: 70%;
}

table#drug th#l {
    border-right: 1px dashed #000000;
}

table#drug td {
    border-right: 1px dashed #000000;
}

table#drug td:last-child {
    border-right: none !important;
}

/* ------------------------------------------------------------------------- */
/* Sections */
/* ------------------------------------------------------------------------- */
.section-container {
    border: 8px solid;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    /*font-family: Arial;*/
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    width: 100%;
    margin-bottom: 8px;
    page-break-inside: avoid;
}

.section-content {
    padding: 8px;
    padding-bottom: 0;
    border-radius: 8px;
    margin-top: 0;
    background-color: white;
    border-color: inherit;
    font-size: inherit;
}

.section-title {
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: white;
    font-size: 16pt;
}

.section-title-subtitle {
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: black;
    font-size: 16pt;
}

.float-right {
    float: right;
}

.section-subtitle, #modal-reference {
    display: block;
    margin-bottom: 8px;
    font-size: inherit;
    font-style: italic;
}

#modal-reference {
    margin-top: 1em;
}

.section-row {
    font-size: inherit;
}

.section-row:before, .section-row:after {
    display: table;
    content: " ";
    clear: both;
}

.section-row+.section-subtitle {
    margin-top: 1em;
}

/* ------------------------------------------------------------------------- */
/* Items */
/* ------------------------------------------------------------------------- */
.item {
    margin-bottom: 8px;
    float: left;
    display: flex;
    font-size: inherit;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
}

.item-icon {
    float: left;
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
}

.item-title {
    font-weight: bold;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-desc {
    font-style: italic;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-text-container {
    flex: 1;
    padding-right: 4px;
    font-size: inherit;
    height: 100%;
}

table {
    width: 40%;
}

table, th, td {
    border: 0px solid #cdd2d8;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
    border-radius: 4px;
}

table#t01 tr:nth-child(odd) {
    background-color: #fff;
    border-radius: 4px;
}

table#t01 th {
    background-color: white;
    color: black;
}

/* ------------------------------------------------------------------------- */
/* Colors */
/* ------------------------------------------------------------------------- */
/* Movement */
#section-movement, #section-movement .item-icon {
    background-color: #1E40AF;
    border-color: #1E40AF;
}

#section-movement .text {
    color: #1E3A8A;
}

/* Action */
#section-action, #section-action .item-icon {
    background-color: #991B1B;
    border-color: #991B1B;
}

#section-action .text {
    color: #7F1D1D;
}

/* Free Action */
#section-free-action, #section-free-action .item-icon {
    background-color: #D97706;
    border-color: #D97706;
}

#section-free-action .text {
    color: #B45309;
}

/* Bonus Action */
#section-bonus-action, #section-bonus-action .item-icon {
    background-color: #92400E;
    border-color: #92400E;
}

#section-bonus-action .text {
    color: #78350F;
}

/* Reaction */
#section-reaction, #section-reaction .item-icon {
    background-color: #1F2937;
    border-color: #1F2937;
}

#section-reaction .text {
    color: #111827;
}

/* Condition */
#section-condition, #section-condition .item-icon {
    background-color: #065F46;
    border-color: #065F46;
}

#section-condition .text {
    color: #064E3B;
}

/* Environment */
#section-environment, #section-environment .item-icon {
    background-color: #059669;
    border-color: #059669;
}

#section-environment .text {
    color: #047857;
}

/* Damage Types */
#section-damage-types, #section-damage-types .item-icon {
    background-color: #B71C1C;
    border-color: #B71C1C;
}

#section-damage-types .text {
    color: #B71C1C;
}

/* Damage and Healing */
#section-damage-healing, #section-damage-healing .item-icon {
    background-color: #9D174D;
    border-color: #9D174D;
}

#section-damage-healing .text {
    color: #831843;
}

/* Abilities */
#section-abilities, #section-abilities .item-icon {
    background-color: #455A64;
    border-color: #455A64;
}

#section-abilities .text {
    color: #455A64;
}

/* Class Abilities */
#section-classabilities, #section-classabilities .item-icon {
    background-color: #616161;
    border-color: #616161;
}

#section-classabilities .text {
    color: #616161;
}

/* Spellcasting */
#section-spellcasting, #section-spellcasting .item-icon {
    background-color: #4F46E5;
    border-color: #4F46E5;
}

#section-spellcasting .text {
    color: #4338CA;
}

/* Multiclassing */
#section-multiclassing, #section-multiclassing .item-icon {
    background-color: #3B82F6;
    border-color: #3B82F6;
}

#section-multiclassing .text {
    color: #2563EB;
}

/* Equipment */
#section-equipment, #section-equipment .item-icon {
    background-color: #3E2723;
    border-color: #3E2723;
}

#section-equipment .text {
    color: #3E2723;
}

/* Travel */
#section-travel, #section-travel .item-icon {
    background-color: #5D4037;
    border-color: #5D4037;
}

#section-travel .text {
    color: #5D4037;
}

/* Language */
#section-languages, #section-languages .item-icon {
    background-color: #512DA8;
    border-color: #512DA8;
}

#section-languages .text {
    color: #512DA8;
}

/* XP */
#section-xp, #section-xp .item-icon {
    background-color: #C2185B;
    border-color: #C2185B;
}

#section-xp .text {
    color: #C2185B;
}

/* ------------------------------------------------------------------------- */
/* Page container */
/* ------------------------------------------------------------------------- */
body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.page {
    width: 100%;
}

/* ------------------------------------------------------------------------- */
/* Misc */
/* ------------------------------------------------------------------------- */
.hidden {
    display: none;
}

ul {
    padding-left: 20px;
}

p, hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    border: 0px;
    border-top: 1px solid gray;
}

p:first-child {
    margin-top: 1em;
}

/* ------------------------------------------------------------------------- */
/* Modal */
/* ------------------------------------------------------------------------- */
.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    outline: 0;
    display: none;
}

.modal-visible {
    display: block;
}

.modal-dialog {
    position: relative;
    width: auto;
    z-index: 1;
    margin: 8px;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 0;
    background-color: rgba(136, 136, 136, .5);
}

.modal-container {
    background-clip: padding-box;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

/* ------------------------------------------------------------------------- */
/* Viewport sizes */
/* ------------------------------------------------------------------------- */
/* Smart phone, portrait */
@media (min-width: 0px) and (max-width: 479px) {
    .fontsize {
        font-size: 12pt;
    }

    .iconsize {
        width: 44px;
        height: 44px;
    }

    .itemsize {
        height: 44px;
        width: 100%;
    }

    .modalsize {}
}

/* Smart phone, landscape */
@media (min-width: 480px) and (max-width: 767px) {
    .fontsize {
        font-size: 11pt;
    }

    .iconsize {
        width: 40px;
        height: 40px;
    }

    .itemsize {
        height: 40px;
        width: 50%;
    }

    .modalsize {}
}

/* Tablet, portrait */
@media (min-width: 768px) and (max-width: 991px) {
    .fontsize {
        font-size: 11pt;
    }

    .iconsize {
        width: 40px;
        height: 40px;
    }

    .itemsize {
        height: 40px;
        width: 33%;
    }

    .modalsize {
        width: 600px;
        margin: 30px auto;
    }
}

/* Tablet, landscape */
@media (min-width: 992px) and (max-width: 1199px) {
    .fontsize {
        font-size: 12pt;
    }

    .iconsize {
        width: 44px;
        height: 44px;
    }

    .itemsize {
        height: 44px;
        width: 33%;
    }

    .modalsize {
        width: 600px;
        margin: 30px auto;
    }
}

/* Small desktop screen */
@media (min-width: 1200px) and (max-width: 1599px) {
    .fontsize {
        font-size: 12pt;
    }

    .iconsize {
        width: 44px;
        height: 44px;
    }

    .itemsize {
        height: 44px;
        width: 30%;
    }

    .modalsize {
        width: 600px;
        margin: 30px auto;
    }
}

/* Large desktop screen */
@media (min-width: 1600px) {
    .fontsize {
        font-size: 12pt;
    }

    .iconsize {
        width: 44px;
        height: 44px;
    }

    .itemsize {
        height: 44px;
        width: 25%;
    }

    .modalsize {
        width: 600px;
        margin: 30px auto;
    }
}

/* Print */
@media print {
    .fontsize {
        font-size: 10pt;
    }

    .iconsize {
        width: 36px;
        height: 36px;
    }

    .itemsize {
        height: 36px;
        width: 33%;
    }

    .modalsize {}
}
